#logo-part1 {
    font-style: italic;
    font-weight: bold;
    font-size: 29px;
}

#tech {
    color: rgb(106, 208, 240);
}

#logo-part2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}
